{{- $item := .task -}}
{{- $base := .base -}}
{{- $assignments := .assignments -}}
{{- $deliverables := .deliverables -}}
{{- $showDue := .showDue -}}
{{- $showAction := .showAction -}}
{{- $projectAnchor := .projectAnchor -}}
{{- with $item.assignment -}}
  {{- $assignmentNumber := int . -}}
  {{- range $assignments -}}
    {{- if eq (int .number) $assignmentNumber -}}
      {{- $dueLabel := partial "teaching/due-label.html" .due_iso -}}
      {{- $item = dict "type" (printf "Homework %v" .number) "task" (.summary | default .title) "due" $dueLabel -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- with $item.deliverable -}}
  {{- $deliverableNumber := int . -}}
  {{- range $deliverables -}}
    {{- if eq (int .number) $deliverableNumber -}}
      {{- $dueLabel := partial "teaching/due-label.html" .due_iso -}}
      {{- $item = dict "type" (printf "Deliverable %v" .number) "task" (.summary | default .title) "due" $dueLabel -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $taskType := $item.type -}}
{{- $taskLabel := $taskType -}}
{{- if or (eq $taskLabel "FC Lecture") (eq $taskLabel "FC Lectures") -}}
  {{- $taskLabel = "FC" -}}
{{- else if eq $taskLabel "Preparation" -}}
  {{- $taskLabel = "Prep" -}}
{{- end -}}
{{- $taskClass := "task-label-default" -}}
{{- if eq $taskLabel "FC" -}}
  {{- $taskClass = "task-label-fc" -}}
{{- else if strings.HasPrefix $taskLabel "Deliverable" -}}
  {{- $taskClass = "task-label-deliverable" -}}
{{- else if or (strings.HasPrefix $taskLabel "Homework") (strings.HasPrefix $taskLabel "Assignment") -}}
  {{- $taskClass = "task-label-assignment" -}}
{{- end -}}
{{- $isBadgeLabel := or (eq $taskLabel "FC") (eq $taskLabel "Prep") -}}
{{- $taskDisplay := printf "[%s]" $taskLabel -}}
{{- if eq $taskLabel "FC" -}}
  {{- $taskDisplay = "FC" -}}
{{- else if or (strings.HasPrefix $taskLabel "Homework") (strings.HasPrefix $taskLabel "Assignment") -}}
  {{- $taskDisplay = "Homework" -}}
{{- else if strings.HasPrefix $taskLabel "Deliverable" -}}
  {{- $taskDisplay = $taskLabel -}}
{{- else if $isBadgeLabel -}}
  {{- $taskDisplay = $taskLabel -}}
{{- end -}}
{{- $isDeliverable := strings.HasPrefix $taskType "Deliverable" -}}
{{- $isAssignment := or (strings.HasPrefix $taskType "Homework") (strings.HasPrefix $taskType "Assignment") -}}
{{- $isProject := strings.HasPrefix $taskType "Project" -}}
{{- $taskHref := "" -}}
{{- if $isAssignment -}}
  {{- $assignmentNumber := replaceRE `^(Homework|Assignment)[[:space:]]+#?([0-9]+).*$` `$2` $taskType -}}
  {{- if ne $assignmentNumber $taskType -}}
    {{- $taskHref = printf `%sassignments/#assignment-%s` $base $assignmentNumber -}}
  {{- end -}}
{{- else if $isDeliverable -}}
  {{- $deliverableNumber := replaceRE `^Deliverable[[:space:]]+#?([0-9]+).*$` `$1` $taskType -}}
  {{- if ne $deliverableNumber $taskType -}}
    {{- $taskHref = printf `%sdeliverables/#deliverable-%s` $base $deliverableNumber -}}
  {{- end -}}
{{- else if $isProject -}}
  {{- $projectNumber := replaceRE `^Project[[:space:]]+([0-9]+).*$` `$1` $taskType -}}
  {{- if ne $projectNumber $taskType -}}
    {{- $taskHref = printf `%sproject/#project-%s` $base $projectNumber -}}
  {{- else if $projectAnchor -}}
    {{- $taskHref = printf `%sproject/#%s` $base $projectAnchor -}}
  {{- else -}}
    {{- $taskHref = printf `%sproject/` $base -}}
  {{- end -}}
{{- end -}}
<li class="course-hub-task-item{{ if $isAssignment }} course-hub-task-item--assignment{{ else if $isDeliverable }} course-hub-task-item--deliverable{{ else if eq $taskLabel "FC" }} course-hub-task-item--fc{{ end }}">
  <span class="course-hub-task-main{{ if $isProject }} is-project{{ end }}">
    {{- if and $taskHref (not $showAction) }}<a class="course-hub-task-link{{ if $isDeliverable }} is-deliverable{{ else if $isAssignment }} is-assignment{{ end }}" href="{{ $taskHref }}">{{ end -}}
    {{- if not $isProject }}<span class="course-hub-task-tag course-hub-task-tag--{{ if $isAssignment }}assignment{{ else if $isDeliverable }}deliverable{{ else }}{{ $taskLabel | urlize }}{{ end }}"><span class="{{ $taskClass }}">{{ $taskDisplay }}</span></span> {{ end -}}
    <span class="course-hub-task-copy">{{ $item.task }}</span>
    {{- with $item.details }}
      <ul class="course-hub-task-details">
        {{- range . }}<li>{{ . | markdownify }}</li>{{ end -}}
      </ul>
    {{- end }}
    {{- if and $taskHref (not $showAction) }}</a>{{ end -}}
    {{- if and $showAction $taskHref (or $isAssignment $isDeliverable) }}
      <a class="course-hub-task-action" href="{{ $taskHref }}">View {{ $taskType }} <span aria-hidden="true">→</span></a>
    {{- end }}
    {{- if not $showAction }}
      {{- if and $showDue $item.due }} <small class="course-hub-task-due"><span>Due</span><strong>{{ $item.due }}</strong></small>{{ end -}}
    {{- end }}
  </span>
  {{- if $showAction }}
    {{- if and $showDue $item.due }} <small class="course-hub-task-due"><span>Due</span><strong>{{ $item.due }}</strong></small>{{ end -}}
  {{- end }}
</li>
