{{- $material := . -}}
<li>
  {{- with $material.url -}}
    <a class="course-hub-week-resource-link" href="{{ . }}"{{ if strings.HasPrefix . "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ partial "teaching/inline-markdown.html" ($material.label | default "Open lecture materials") }}</a>
  {{- else -}}
    {{ partial "teaching/inline-markdown.html" ($material.label | default "Lecture material") }}
  {{- end -}}
  {{- with $material.children }}
    <ul>
      {{- range . }}
        {{- partial "teaching/course-week-material-item.html" . -}}
      {{- end }}
    </ul>
  {{- end }}
</li>
