{{- $item := .task -}}
{{- $base := .base -}}
{{- $assignments := .assignments -}}
{{- $showDue := .showDue -}}
{{- $projectAnchor := .projectAnchor -}}
{{- with $item.deliverable -}}
  {{- $deliverableNumber := int . -}}
  {{- range $assignments -}}
    {{- if eq (int .number) $deliverableNumber -}}
      {{- $dueLabel := partial "teaching/due-label.html" .due_iso -}}
      {{- $item = dict "type" (printf "Deliverable %v" .number) "task" (.summary | default .title) "due" $dueLabel -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $taskType := $item.type -}}
{{- $taskLabel := $taskType -}}
{{- if eq $taskLabel "FC Lecture" -}}
  {{- $taskLabel = "FC" -}}
{{- else if eq $taskLabel "Preparation" -}}
  {{- $taskLabel = "Prep" -}}
{{- end -}}
{{- $taskClass := "task-label-default" -}}
{{- if eq $taskLabel "FC" -}}
  {{- $taskClass = "task-label-fc" -}}
{{- else if strings.HasPrefix $taskLabel "Deliverable" -}}
  {{- $taskClass = "task-label-deliverable" -}}
{{- end -}}
{{- $isBadgeLabel := or (eq $taskLabel "FC") (eq $taskLabel "Prep") -}}
{{- $taskDisplay := printf "[%s]" $taskLabel -}}
{{- if eq $taskLabel "FC" -}}
  {{- $taskDisplay = "🎬 FC" -}}
{{- else if eq $taskLabel "Assignment" -}}
  {{- $taskDisplay = "✏️ Assignment" -}}
{{- else if strings.HasPrefix $taskLabel "Deliverable" -}}
  {{- $taskDisplay = printf "📤 %s" $taskLabel -}}
{{- else if $isBadgeLabel -}}
  {{- $taskDisplay = $taskLabel -}}
{{- end -}}
{{- $isDeliverable := strings.HasPrefix $taskType "Deliverable" -}}
{{- $isProject := strings.HasPrefix $taskType "Project" -}}
{{- $taskHref := "" -}}
{{- if $isDeliverable -}}
  {{- $deliverableNumber := replaceRE `^Deliverable[[:space:]]+([0-9]+).*$` `$1` $taskType -}}
  {{- if ne $deliverableNumber $taskType -}}
    {{- $taskHref = printf `%sassignments/#deliverable-%s` $base $deliverableNumber -}}
  {{- end -}}
{{- else if $isProject -}}
  {{- $projectNumber := replaceRE `^Project[[:space:]]+([0-9]+).*$` `$1` $taskType -}}
  {{- if ne $projectNumber $taskType -}}
    {{- $taskHref = printf `%sproject/#project-%s` $base $projectNumber -}}
  {{- else if $projectAnchor -}}
    {{- $taskHref = printf `%sproject/#%s` $base $projectAnchor -}}
  {{- else -}}
    {{- $taskHref = printf `%sproject/` $base -}}
  {{- end -}}
{{- end -}}
<li>
  {{- with $taskHref }}<a class="course-hub-task-link{{ if $isDeliverable }} is-deliverable{{ end }}" href="{{ . }}">{{ end -}}
  {{- if not $isProject }}<span class="course-hub-task-tag course-hub-task-tag--{{ $taskLabel | urlize }}"><span class="{{ $taskClass }}">{{ $taskDisplay }}</span></span> {{ end -}}
  <span class="course-hub-task-copy">{{ $item.task }}</span>
  {{- with $taskHref }}</a>{{ end -}}
  {{- if and $showDue $item.due }} <small class="course-hub-task-due">Due: {{ $item.due }}</small>{{ end -}}
</li>
