/*=================================================================
  Latest Posts
==================================================================*/

.blog {
  background: #F6F6F6;
}

.post {
  background: $light;
  margin-bottom: 55px;

  @include tablet {
    margin-bottom: 20px;
  }

  .post-media {
    &.post-thumb {
      img {
        width: 100%;
        height: auto;
      }
    }

    &.post-media-audio {
      iframe {
        width: 100%;
      }
    }
  }

  .post-title {
    margin-top: 25px;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 25px;
    color: black;
    //text-transform: uppercase;

    a {

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  .post-meta {
    font-size: 13px;
    margin-top: 10px;

    ul {
      li {
        display: inline-block;
        color: gray;
        margin-right: 20px;
        font-size: 15px;
        letter-spacing: .5px;
        


        a {
          color: #909090;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .post-author {
      color: $black;
    }
  }

  .post-content {
    margin-top: 20px;

    p {
      line-height: 26px;
      color: black;
    }

    ul {
      font-size: 15px;
      padding: 10px 20px;
      font-family: $primary-font;
      list-style: circle;
    }
    ol {
      font-size: 15px;
      padding: 10px 20px;
      font-family: $primary-font;
    }

    blockquote {
      margin-top: 20px;
      font-size: 18px;
      border-color: $primary-color;
      padding: 10px 20px;
      text-align: left;
      color: #777;
    }

    .btn-main {
      padding: 10px 20px;
      margin: 2px 0;
      font-size: 14px;
      color: black;
      background-color: transparent;
      font-family: $primary-font;
      font-weight: 500;
      width: fit-content;
      letter-spacing: 1px;

      border-radius: 0;
      border-width: 1px !important;
      border-style: dotted;
      border-color: black;


      &:hover{
        color: white;
        background-color: black;
      }
   
    }
  }
}

.post-pagination {
  margin: 0px;

  @include desktop {
    margin-bottom: 60px;
  }

  @include tablet {
    margin-bottom: 25px;
  }

  >li {
    margin: 0 2px;
    display: inline-block;
    font-size: 14px;

    >a {
      color: $black;
      @include transition (all, 0.3s, ease);

      &:hover {
        color: $light;
        background: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    &.active>a {
      background: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
  }

  >li:first-child>a,
  >li:last-child>a {
    border-radius: 0;
  }
}

.recent-news{
  padding: 0 !important;
}

.recent-news-right{
  padding-right: 10px !important;
}
