.call-to-action {
  text-align: center;
  padding: 40px 0px;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    color: black;
    font-family: $poppins-font;
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    padding: 30px 0px;
  }

  h2 strong{
    font-weight: 700;
  }

  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }

  .btn-main {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(255, 255, 255) !important;
    background: white !important; /*darken($primary-color, 20%);*/
    color: $black;

    b{
      color: purple;
    }
    

    &:hover {
      background-color: rgba(0,0,0,1);
      background: black !important;
      color: white;
    }
  }
}
