.call-to-action {
  text-align: center;
  padding: 40px 40px;
  margin-bottom: 20px;

  .container{
    background-color: rgb(238, 238, 238);
  }


  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    color: black;
    font-family: $poppins-font;
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
  }

  h2 strong{
    font-weight: 700;
  }

  p {
    font-family: $primary-font;
    color: $black;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 15%;
    font-weight: 300;
  }

  .btn-main {
    font-family: $primary-font;
    padding: 6px 10px;
    font-size: 12px;
    margin-right: 5px;
    font-weight: 400;
    margin-top: 10px;
    //margin-bottom: 10px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(255, 255, 255) !important;
    background: white !important; /*darken($primary-color, 20%);*/
    color: $black;
    margin-bottom: 30px;

    b{
      color: purple;
    }
    

    &:hover {
      background-color: rgba(0,0,0,1);
      background: black !important;
      color: white;
    }
  }
}
