.footer {
  //background: white;
  //min-height: 205px;
  text-align: center;
  padding-top: 30px;
  p {
    font-size: 13px;
    line-height: 25px;
    color: #919191;
  }
  a {
    color: #595959;
  }

  .footer-menu {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;

    ul {
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        padding: 0px 20px;
        a {
          display: inline-block;
          color: black;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .copyright {
    margin-top:10px;
    font-family: $primary-font;
    font-size: 14px;
    color: black;
    a {
      font-weight: 600;
    }
  }
}
