/*--
  Header Start
--*/

header {
  min-height: 62px;
  @include desktop {
    min-height: 60px;
  }
  //background: #fff;
  padding: 0;
  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }
  .navbar-brand {
    height: auto;
    padding-top: 10px;
  }
  .navbar-default {
    background: none;
    border: 0px;
    .navbar-nav {
        padding-top: 10px;
      li {
        a {
          color: #333333;
          padding: 10px 26px;
          font-size: 15px;
          font-weight: 400;
        }
        a:hover {
          color: $brand-color-text-secondary !important;
          font-weight: 600;
        }
        a.current,
        a.current-parent {
          color: $brand-color-text-primary !important;
          font-weight: 600;
        }
      }
    }
  }
}
