.portfolio-work {
    //padding: 80px 0;
    .block {
        .portfolio-menu {
            text-align: left;
            .btn-group {
                margin-bottom: 20px;
                label {
                    display: inline-block;
                    border: 1px solid $border-color;
                    //padding: 8px 25px;
                    cursor: pointer;
                    font-size: 14px;
                    color: black;
                    outline: 0;
                    background: $light;
                    margin: 2px;
                    border-radius: 0px !important;
                    width: fit-content !important;
                    padding: 5px 15px !important;
                    @include transition (all, 0.3s, ease);
                    &:active,
                    &:hover,
                    &.focus,
                    &.active {
                        background: #4F088D !important;
                        color: white !important;
                    }
                }
                
            }

            .btn-toggle {
                font-size: 14px;
                color: black;
                border-radius: 0px !important;
                width: fit-content !important;
                padding: 5px 15px !important;

                &:active,
                &:hover,
                &.focus,
                &.active {
                    background: #4F088D !important;
                    color: white !important;
                }
            }
        }
    }
}

.btn-journal-name-home {
    background: rgb(43, 43, 43);
    color: white;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 15px !important;
    text-align: center;
    margin-top: 15px;
    padding: 3px 6px;
    margin-bottom: 0px !important;

    border: 0px;
    &:active,
    &:hover,
    &.focus,
    &.active {
        background: #4F088D !important;
        color: white !important;
    }
}

.btn-journal-name-purple {
    background: rgb(40, 40, 40);
    color: white;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 15px !important;
    text-align: center;
    margin-top: 15px;
    padding: 2px 5px;
    margin-bottom: 0px !important;

    border: 0px;
    &:active,
    &:hover,
    &.focus,
    &.active {
        background: #4F088D !important;
        color: white !important;
    }
}

.portfolio-list-title-home {
    font-size: 17px;
    font-family: $primary-font;
    font-weight: 600;
    color: black;
    line-height: 1.3;
    padding-top: 10px;
}

.portfolio-list-title {
    font-size: 19px;
    font-family: $primary-font;
    font-weight: 600;
    color: black;
    line-height: 1.3;
    padding-top: 10px;
}

.portfolio-list-title a {
    color: black;
}

.portfolio-list-title a:hover {
    text-decoration: underline;
    color: $primary-color !important;
}

.portfolio-list-meta {
    font-size: 15px;
    font-weight: 400;
    font-family: $primary-font;
    margin-bottom: 10px;
    line-height: 1.3 !important;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-right: 20px;
}

.project-teaser-image{
    width: 100%;
    aspect-ratio: 2560 / 945;
    margin-top: 20px !important;
    //height: 400px;
    padding: 0px 15px;
  }


.portfolio-card {
    padding: 0px;
}


  
.portfolio-item {
    padding: 50 !important; /* Remove padding */
    margin-bottom: 30px; /* Add space between portfolio items */
}
  
.portfolio {
    &-item {
        position: relative;
        padding: 10px;
        img {
            width: 100%;
            height: auto;
            //filter: grayscale(50%) opacity(80%);
            //border: 1px solid $darkGray;
            //padding: 10px;
        }
        //img:hover {
            //width: 100%;
            //height: auto;
            //filter: drop-shadow(8px 8px  10px gray) opacity(100%);
        //}

        //&:hover {
        //    .portfolio-hover {
        //        visibility: visible;
        //        opacity: 1;
        //    }
        //    .portfolio-content {
        //        transform: translateY(-50%);
        //    }
        //}
    }
    &-hover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(60, 55, 55, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 100px;
        transform: translateY(-40%);
        text-align: center;
        padding: 20px;
        transition: inherit;
        * {
            color: $light;
        }
        a {
            display: block;
            transition: .2s ease;
            i {
                font-size: 30px;
            }
            &.h3 {
                margin-top: 0;
            }
        }
    }
}

// Portfolio Single Page
.portfolio-single-page {
    .project-details {
        h4 {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px dashed $border-color;
        }
        span {
            color: #838383;
            width: 180px;
            display: inline-block;
        }
        strong {
            color: #313131;
            font-weight: normal;
        }
        ul {
            li {
                margin-bottom: 10px;
            }
        }
    }
}


/// NEWS /// 
.news-textList-title {
    font-size: 16px;
    font-family: $poppins-font;
    font-weight: 500;
    color: black;
    margin-bottom: 7px;
}

.news-textList-date {
    font-size: 16px;
    font-family: $poppins-font;
    font-weight: 300;
    color: black;
    margin-bottom: 7px;
}

@media (max-width: 1000px) {
    .news-icon {
        display:none;
    }
}




.project-page-title{
    font-size: 30px;
    font-family: $primary-font;
    font-weight: 600;
    line-height: 1.2;
    color: black;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

.project-link-btn {
    font-size: 13px;
    font-family: $primary-font;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    background: transparent;
    padding: 5px 15px;
    margin-right: 0px;
    border-radius: 0px;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
    margin-bottom: 10px;
    &:hover,
    &:active,
    &:focus {
        outline: 0;
        box-shadow: none !important;
    }
}

.project-link-btn:hover{
    background: $primary-color;
    color: white;
}

.btn-link-group{
    align-content: left !important;
    justify-content: left !important;
}

.work-card{
    padding-left: 10px;
    height: 530px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* You can adjust the shadow size and opacity */
    //transition: box-shadow 0.3s ease; /* Smooth transition on hover */
    border: 0.3px solid #eaeaea; /* Light border for clarity */
    margin-bottom: 10px; /* Add vertical space between cards */
    margin-right: 0px; /* Horizontal spacing between cards */
}

.work-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker and larger shadow on hover */
  }


.project-subtitle{
    font-weight: 800;
    color: black;
    font-size: 20px !important;
    margin-bottom: 10px;
}

.project-single-meta{
    font-weight: 400;
    color: black;
    font-size: 16px !important;
    padding-right: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.project-single-meta strong{
    font-weight: 800;
}
