{{ define "main" }}

<!-- {{ partial "page-title.html" . }}-->

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{ with .Params.teaser_top }}
            <img src="{{ . | absURL }}" style="padding: 0px" alt="" class="img-fluid mb-4 project-single-teaser-img" /> 
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="project-page-title">{{ .Title  | markdownify }}</div>
          <div class="project-page-venue">{{ .Params.conference_full  | markdownify }}</div>
          <!--Link Buttons-->
          {{ if .Params.Links }}
          <ul class="btn-link-group list-inline">
            {{ range .Params.Links }}
            <li class="list-inline-item">
              <a href="{{ .link | absURL }}" target="_blank"><button class="project-link-btn">{{ .label }}</button></a>
                </li>
                {{ end }}
          </ul>
          {{ end }}
        </div>    
        <hr align="left" style="margin-top: 40px; margin-bottom: 40px; width:100%; height:1px; border:none; background-color:black;">
      </div>

      


      <div class="col-md-8">
        <div class="project-subtitle">Summary</div>
        <div class="project-single-meta">{{ .Params.summary | markdownify }}</div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <div class="project-subtitle">Researcher</div>
          <div class="project-single-meta">{{ .Params.researcher | markdownify }}</div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
