#wrapper-work {
  overflow: hidden;
  padding-top: 100px;

  ul {
    li {
      width: 50%;
      float: left;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .items-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background: rgba(0, 0, 0, 0.60);
        padding-left: 44px;
        padding-top: 140px;

        h2 {
          padding-bottom: 28px;
          padding-top: 75px;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 75px;
            height: 3px;
            background: #fff;
          }
        }

        p {
          padding-top: 30px;
          font-size: 16px;
          line-height: 27px;
          font-weight: 300;
          padding-right: 80px;
        }
      }
    }
  }
}


/*--
  features-work Start 
--*/

#features-work {
  padding-top: 50px;
  padding-bottom: 75px;

  .block {
    ul {
      li {
        width: 19%;
        text-align: center;
        display: inline-block;
        padding: 40px 0px;
      }
    }
  }
}



:root {
  --circle-size: 60vh;
  --circle-fallout: 70%;
  --type-scale: 50vw;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.circle {
  border-radius: 50%;
  width: var(--circle-size);
  height: var(--circle-size);
}

.circle-container {
position: absolute;
top: 50%;
left: 50%;
}

#circle-container-1 {
transform: perspective(500px) translate3d(-35vh, -35vh, 0px);
}

#circle-container-2 {
transform: perspective(500px) translate3d(-20vh, -20vh, 0px);
}

#circle1 {
  background-image: radial-gradient(circle at center, rgba(61, 210, 240, 1) 0%, rgba(61, 210, 240, 0) var(--circle-fallout));
  opacity: .9;
  animation: orbit1 20s linear infinite;
}

#circle2 {
  background-image: radial-gradient(circle at center, rgba(122, 76, 226, 1) 0%, rgba(122, 76, 226, 0) var(--circle-fallout));
  opacity: .5;
  animation: orbit2 20s linear infinite;
}


canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

#type {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: var(--type-scale);
  height: auto;
  pointer-events: none;
}

@keyframes orbit1 {
from { transform: rotate(0deg) perspective(500px) translate3d(50px,0,0); }
to   { transform: rotate(360deg) perspective(500px) translate3d(50px,0,0); }
}

@keyframes orbit2 {
from { transform: rotate(360deg) perspective(500px) translate3d(-50px,0,0); }
to   { transform: rotate(0deg) perspective(500px) translate3d(-50px,0,0); }
}
//.body {
  //background-color: #eee;
  //min-height: 100%;
  //color: #fff;
  //background-size: cover;
  //background-position: center;
  //font-family: Raleway, sans-serif;
//}