// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    line-height: 1.5;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    width: 1300px;
    margin: auto;
}

@media screen and (max-width: 1300px) {
    body {
        width: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 40px;
    @include tablet {
        font-size: 34px;
    }
    @include mobile {
        font-size: 28px;
    }
    @include mobile-xs {
        font-size: 26px;
    }
}

h2 {
    font-size: 28px;
    @include mobile {
        font-size: 22px;
    }
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    color: #7B7B7B;
    font-size: 15px;
    font-family: $primary-font;
    margin-bottom: 30px;
}