// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');


body {
    line-height: 1.5;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    //width: 1200px;
    margin: auto;
    font-size: 17px;
}

@media screen and (max-width: 1300px) {
    body {
        width: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 40px;
    @include tablet {
        font-size: 34px;
    }
    @include mobile {
        font-size: 28px;
    }
    @include mobile-xs {
        font-size: 26px;
    }
}

h2 {
    font-family: $hightlight-font;
    font-weight: 700;
    color: black;
    font-size: 26px;
    @include mobile {
        font-size: 22px;
    }
}

h2 strong{
    background-color: #eaeaea90;
    font-weight: 700;
    color: #510dc5;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
    font-weight: 500;  
    margin-top: 20px;
}



p {
    color: black;
    font-size: 16px;
    font-family: $primary-font;
    margin-bottom: 30px;
    margin-top: 10px;
}

p strong {
    font-weight: 600;
    background-color: #d4c4fe7c;
}