$light: #fff;
$darkGray: #3d3d3d;
$mediumGray: #575757;
$lightGray: #e5e4e2;
$primary-color:#8601af;
$secondary-color: #1bbb1b;
$primary-text-color: rgb(78, 78, 78);
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto',
sans-serif;
$secondary-font:'Volkhov',
serif;
$icon-font: 'themefisher-font';
$hightlight-font: 'Lato',
sans-serif;
