$light: #fff;
$primary-color:#2172ff;
$secondary-color: #1bbb1b;
$primary-text-color: rgb(78, 78, 78);
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Open Sans',
sans-serif;
$secondary-font:'Volkhov',
serif;
$icon-font: 'themefisher-font';
$hightlight-font: 'Lato',
sans-serif;