$light: #fff;
$darkGray: #3d3d3d;
$mediumGray: #575757;
$lightGray: #e5e4e2;
$primary-color:#550596;
$secondary-color: #1bbb1b;
$primary-text-color: rgb(78, 78, 78);
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$yellow-highlight: rgba(255, 244, 41, 0.406) ;

$primary-font:'Roboto',
sans-serif;
$secondary-font:'Volkhov',
serif;
$icon-font: 'themefisher-font';
$hightlight-font: 'Lato',
sans-serif;
$google-font: 'Google+Sans', sans-serif;

$nexa-font: 'Nexa', sans-serif;
$poppins-font: 'Poppins', sans-serif;
$kalam-font: 'Kalam', cursive;
$herr-font: 'Herr Von Muellerhoff', cursive;
$serif-font: 'Castoro', serif;