// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation

// 전체 컨테이너 폭을 1200px로 제한 (기본 1140px → 1200px 예시)
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

// 컨테이너 좌우 패딩도 살짝 줄이기
.container {
  padding-left: 1rem !important;   // 기본 1.5rem → 1rem
  padding-right: 1rem !important;
}




.slider-affiliation {
    font-family: $poppins-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 8px;
    color: black;
}

.slider-affiliation:hover{
    text-decoration: underline;
}

.slider-department {
    font-family: $serif-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;
    
    margin-bottom: 30px;
    color: #5f5f5f;
}

.slider-department:hover{
    text-decoration: underline;
    color: #d4c4fe7c;
}

.slider-title {
    font-family: $poppins-font;
    font-size: 7vw;
    font-weight: 700;
    line-height: 1.0;
    margin-bottom: 5px;
    color: black;
}

@media only screen and (max-width: 800px) {
  .slider-title {
    font-size: 10vw !important;
  }
}

.slider-title-W500 {
    font-family: $poppins-font;
    font-size: 6vw;
    font-weight: 600;
    line-height: 1.0;
    letter-spacing: .0rem;
    margin-bottom: 5px;
    color: black;
}

@media only screen and (max-width: 800px) {
  .slider-title-W500 {
    font-size: 10vw !important;
  }
}

.slider-title-W300 {
    font-family: $poppins-font;
    font-size: 6vw;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: .0rem;
    margin-bottom: 50px;
    color: black;
}

@media only screen and (max-width: 800px) {
  .slider-title-W300 {
    font-size: 10vw !important;
  }
}

.slider-vision {
    font-family: $poppins-font;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 5px;
    color: black;
}

.slider-vision-content3 {
  font-family: $primary-font;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 5px;
  padding-right: 40% !important;
  color: black;
}

.slider-vision-content4 {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-right: 40% !important;
  color: black;
}


.circle-main {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    opacity: 0.1;
}

.home-title{
    font-weight: 700;
    font-family: $poppins-font;
    font-size: 35px;
    margin-bottom: 40px;
    color: black;
}

.home-title-ongoing{
  font-weight: 800;
  font-family: $primary-font;
  font-size: 22px;
  margin-bottom: 20px;
  color: black;
}

.home-title-sub1{
  font-weight: 400;
  font-family: $primary-font;
  font-size: 16px !important;
  margin-top: -10px;
  margin-bottom: 30px;
  color: black;
  
  b{
    font-weight: 600;
  }
}

.home-slider-more{
    font-weight: 600 !important;
    color: black;
    font-family: $primary-font;
    font-size: 16px !important;
}

.white-box { 
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
} 

.student-name{
    font-family: $poppins-font;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 3px;
}

.student-type{
    font-family: $primary-color;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

.student-email{
  font-family: $primary-color;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  text-align: center !important;
  justify-content: center;
}

.student-period{
  font-family: $primary-color;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center !important;
  justify-content: center;
}

.student-des{
    margin-top: 20px;
    font-family: $primary-color;
    font-size: 15px;
    font-weight: 400;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 60%;
    width: 60%;
  }
  










//GRADIENT add

.orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  strong {
    font-weight: 600;
  }
  
  .overlay {
    width: 100%;
    
    //max-width: 1140px;
    //max-height: 640px;
    padding: 6rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.334);
    box-shadow: 0 0.75rem 4rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .overlay-ongoing {
    width: 100%;
    //max-width: 1140px;
    //max-height: 640px;
    padding: 6rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.306);
    box-shadow: 0 0.75rem 4rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .overlay__inner {
    //max-width: 36rem;
  }
  
  .overlay__title {
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 2rem;
  }
  
  .text-gradient {
    background-image: linear-gradient(
      45deg,
      var(--base) 5%,
      var(--complimentary2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .overlay__description {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }
  
  .overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
  }
  
  .overlay__btn {
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
  }
  
  .overlay__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: 0.75rem;
  }
  
  .overlay__btn-emoji {
    margin-left: 0.375rem;
  }
  
  a {
    text-decoration: none;
    color: var(--dark-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  /* Not too many browser support this yet but it's good to add! */
  @media (prefers-contrast: high) {
    .orb-canvas {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1140px) {
    .overlay {
      padding: 8rem 4rem;
    }
  }
  
  @media only screen and (max-width: 840px) {
    body {
      padding: 1.5rem;
    }
  
    .overlay {
      padding: 4rem;
      height: auto;
    }
  
    .overlay__title {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .overlay__description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .overlay {
      padding: 1.5rem;
    }
  
    .overlay__btns {
      flex-wrap: wrap;
    }
  
    .overlay__btn {
      width: 100%;
      font-size: 0.75rem;
      margin-right: 0;
    }
  
    .overlay__btn:first-child {
      margin-bottom: 1rem;
    }

  }
  // GRADIENT FINISH


  
  
  .cta-custom{
    h2 {
      color: black;
      font-family: $poppins-font;
      font-size: 30px;
      font-weight: 700;
      margin: 0px;
      padding: 30px 0px;
    }

    p {
      color: $black;
      font-size: 18px;
      font-weight: 400;
    }

    .btn-main {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 30px;
      color: black;
      border-color: black;
  
      &:hover {
        background: black; /*darken($primary-color, 20%);*/
        color: $light;
    }
    }

  }

  //publication
  .publication-type-title {
    font-family: $primary-font;
    font-weight: 800;
    font-size: 23px !important;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .padding-publication_title {
    padding-right: 90px !important;
    padding-left: 0px !important;
    text-align: justify;

    .col-lg-9 {
      padding-left: 0 !important; /* Remove padding-left */
    }
}


.publication-text {
  font-size: 16px !important;
        font-weight: 400;
        line-height: 1.2;

        strong {
            font-weight: 600;
        }

        em {
            color: rgb(0, 33, 125);
            //background-color: #dfdfdf72;
            font-weight: 400;
        }

}
.publication-list{
  margin-left: 5px;
}


.cv-text {
  font-size: 15px;
  font-weight: 300;
  color: black;
  font-family: $primary-font;
  line-height: 1.4;
}

.cv-text ins{
  text-decoration-thickness: 1px;
  font-weight: 400;
}

.cv-text-authors {
  font-size: 15px !important;
  font-weight: 300 !important;
  color: black!important;
  font-family: $primary-font;
  line-height: 1.2;    
}

.cv-text-authors strong{
  font-weight: 500;
  color: black !important;
  font-family: $primary-font;
  line-height: 1.3; 
}

.cv-text-authors em{
  font-weight: 300;
}

.cv-text-authors em strong{
  font-weight: 300 !important;;
}

.cv-text-authors ins{
  font-weight: 400;
  text-decoration-thickness: 1px;
}

.cv-text-period {
  font-size: 14px;
  font-weight: 400;
  color: black;
  font-family: $primary-font;
  line-height: 1.4;
  margin-bottom: 10px;
}

.padding-left-30 {
  padding-left: 30px;
}

.cv-text-bold {
  font-size: 16px;
  font-weight: 600;
  color: black;
  font-family: $primary-font;
  line-height: 1.3;
}

.cv-text-bold a:hover{
  text-decoration: underline;
}

.cv-text-bold em{
  font-weight: 300 !important;
  font-size: 15px;
}

.cv-text-pubs{
  font-size: 15px;
  font-weight: 300;
  color: black;
  font-family: $primary-font;
  line-height: 1.4;
  margin-bottom: 1px;
}

.cv-text-pubs em strong {
  font-weight: 500;
}

.link-text-publications {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: black;
  font-family: $primary-font;
  line-height: 1.4;
  margin-bottom: 10px;
  text-decoration: underline !important;

  a{
    color: rgb(0, 33, 125);
  }
}

a:link-text-publications {
  font-weight: 600 !important;
  color: black;
  text-decoration: underline !important;
}

.publication{
  font-family: $primary-font;
  //padding-right:0px !important;

  .section{
    padding: 0px !important;
  }
}

.pub-link-a {
  ul{
    li{
      a{
        text-decoration: underline;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}



.lab-intro p{
  color: black;
  font-size: 18px;
  font-weight:400;
  font-family: $primary-font;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-right:50px;
  //text-align: justify;
}

.lab-intro p strong {
  font-weight: 600;
  background-color: #d4c4fe7c;
}

.lab-intro p u {
  font-weight: 600;
  color: #1b003e;
  background-color: #e7efff; //#fffdd8;
}


.lab-intro li{
  padding-bottom: 10px;

}

.faq-bg{
  background: #ffffff6a !important;
  b {
    color:rgb(97, 13, 161);
  }
  p{
    padding: 0 30px;
  }
}

.btn-learnMore{
  font-weight: 500;
  font-size: 16px !important;
  //border-style: dashe
  border-width: 0px important;
  padding: 10px 15px;
  margin-right: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.professor-name{
  font-weight:800;
  font-size: 45px;;
}

.professor-title{
  font-weight:600;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.professor-email{
  font-weight:400;
  font-size: 17px;
  margin-top: 0px;
}

.professor-website{
  font-weight:600;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom:40px;
}

.professor-context{
  font-weight:400;
  font-size: 16px;
  margin-top: 0px;
  color: black;
}

.vision-teaser{
  width: 90%;
  margin-bottom: 50px;
}


.vision-sub{
  width: 90%;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 0px;
}

.vision-quote{
  width: 90%;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}

.vision-quote-kor{
  width: 90%;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}

.vision-quote-key{
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.direction-mini{
  font-size: 16px;
  margin-bottom: 0px !important;
  color: black;
}

.direction-title{
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  text-decoration-color: #e7e7e7;
  text-decoration-thickness: 4px;
}

.direction-title b{
  background-color: #f5f5f5a6;
  color:rgb(97, 13, 161);
}

.direction-title b:hover{
  background-color: rgb(97, 13, 161);
  color:#ffffff;
}

.area-title{
  font-weight:700;
  color: black;
  font-size: 26px;
  margin-bottom: 20px;
}

.area-title b{
  background-color: hsla(215, 22%, 30%, 0.903) !important;
  color: white;
}

.vision-title{
  font-weight:700;
  color: black;
  font-size: 26px;
  margin-bottom: 20px;
  b {
      background-color: #d4c4fe7c !important;
  }

  strong {
    background-color: #d4c4fe7c !important;
  }
}



.vision-content{
  font-size: 17px;
  margin-bottom: 20px;
  text-align: justify;

  p{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-right:100px;
  }

  p strong{
    margin-bottom: 5px;
    background-color: #ffffff !important;
  }

  b{
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: #e7e7e7;
    text-decoration-thickness: 4px;
  }

  p b:hover{
    background-color: #c2c2c240;
  }

  li{
    font-size: 16px;
    margin-bottom: 5px;
    padding-right:100px;
  }

  li strong{
    color:rgb(50, 50, 50);
    background-color: #d6d6d67c !important;
  }
}



.vision-keyword{
  font-size: 15px;
  margin-bottom: 30px;
  //font-style: italic;

  a{
    background-color: #f3f3f3;
    font-size: 15px;
  }
  b{
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.vision-minifig{
  width: 90%;
  float: right;
}

.vision-domain-title{
  font-size: 22px;
  font-weight: 600;
}

.tracks {
  padding-left: 20px;  
  padding-right: 100px;
}

.applicants_track{
  font-size: 15px;
  margin-bottom: 10px;

  p{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px !important;
    margin-top:0px !important;

    b:hover{
      background-color: #c2c2c240;
    }

    b{
      font-size: 18px;
      margin-bottom: 5px;
      text-decoration: underline;
      text-decoration-color: #e7e7e7;
      text-decoration-thickness: 4px;
    }
  }

  strong{
    color:rgb(97, 13, 161);
    background-color: #d4c4fe7c !important;
  }

}


.apply_description{
  font-size: 15px;
  margin-bottom: 20px;

  li{
    margin-bottom: 5px;
    text-align: justify;
    padding-right:100px;
  }
  strong{
    color:rgb(50, 50, 50);
    background-color: #d6d6d67c !important;
  }
  
}


.yonsei-logo{
  width: 30% !important;
}

@media only screen and (max-width: 800px) {
  .yonsei-logo {
  width: 50% !important;
  }
}

@media only screen and (max-width: 560px) {
  .yonsei-logo {
  width: 70% !important;
  }
  }

@media only screen and (max-width: 300px) {
  .yonsei-logo {
  width: 100% !important;
  }
}

.navbar li btn_lan{
  font-family: $primary-font !important;
  font-size: 12px;
}




/* publication 페이지의 nav-tabs 밑줄 제거 */
#publicationTabs {
  border-bottom: none !important;
  padding-left: 0;
  margin-bottom: 40px;
  
}

/* nav-item 기본 마진 */
#publicationTabs .nav-item {
  margin: 2px; /* Project 쪽 label margin 과 동일 */
}

/* nav-link를 Project 버튼처럼 스타일링 */
#publicationTabs .nav-link {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: black;
  background: $light;        /* Project 쪽 background */
  border: 1px solid $border-color !important;  /* Project 쪽 border-color */
  border-radius: 0px !important;
  width: fit-content !important;
  padding: 5px 15px !important;
  @include transition(all, 0.3s, ease);
}

/* hover, active 상태 */
#publicationTabs .nav-link:hover,
#publicationTabs .nav-link:focus,
#publicationTabs .nav-link.active {
  background: #4F088D !important;  /* Project 쪽 활성화 색 */
  color: white !important;
  text-decoration: none;
}


.margin-bottom-0{
  margin-bottom: 0px !important;
}