{{ define "main" }}

{{ partial "page-title.html" . }}

<!--LOGO-WIDE-->
{{ with .Params.logo_wide }}
{{ if .enable }}
<section class="service-about">
  <div class="container container_wider">
    {{ with .quote }}<div class="vision-sub">{{ . | markdownify }}</div>{{ end }}
    {{ with .description }}<div class="vision-quote">{{ . | markdownify }}</div>{{ end }}

    <hr align="left" style="border: solid 2px rgb(65, 65, 65); width: 100%; margin-bottom: 30px;">
    <div class="row">
      <div class="col-md-2">
        <div style="height:00px; width:100%; clear:both;"></div>

        {{ with .apply }}<div class="applicants_track">{{ . | markdownify }}</div>{{ end }}
        {{ with .submit_1 }}<div class="applicants_track">{{ . | markdownify }}</div>{{ end }}
      </div>

      <div class="col-md-10">
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_wide_color.png" alt="Logo_wide_color" width="100%" style= "margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_wide_black.png" alt="Logo_wide_color" width="100%" style= "padding: 0px; margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_wide_white.png" alt="Logo_wide_color" width="100%" style= "padding: 0px; margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!--LOGO-COMPACT-->
{{ with .Params.logo_compact }}
{{ if .enable }}
<section class="service-about">
  <div class="container container_wider">
    {{ with .quote }}<div class="vision-sub">{{ . | markdownify }}</div>{{ end }}
    {{ with .description }}<div class="vision-quote">{{ . | markdownify }}</div>{{ end }}

    <hr align="left" style="border: solid 2px rgb(65, 65, 65); width: 100%; margin-bottom: 30px;">
    <div class="row">
      <div class="col-md-2">
        <div style="height:00px; width:100%; clear:both;"></div>

        {{ with .apply }}<div class="applicants_track">{{ . | markdownify }}</div>{{ end }}
        {{ with .submit_1 }}<div class="applicants_track">{{ . | markdownify }}</div>{{ end }}
      </div>

      <div class="col-md-10">
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_compact_color.png" alt="Logo_wide_color" width="100%" style= "margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_compact_black.png" alt="Logo_wide_color" width="100%" style= "padding: 0px; margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_compact_white.png" alt="Logo_wide_color" width="100%" style= "padding: 0px; margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!--LOGO-Wide-Short-->
{{ with .Params.logo_wide_short}}
{{ if .enable }}
<section class="service-about">
  <div class="container container_wider">
    {{ with .quote }}<div class="vision-sub">{{ . | markdownify }}</div>{{ end }}
    {{ with .description }}<div class="vision-quote">{{ . | markdownify }}</div>{{ end }}

    <hr align="left" style="border: solid 0.5px rgb(65, 65, 65); width: 100%; margin-bottom: 30px;">
    <div class="row">
      <div class="col-md-2">
        <div style="height:00px; width:100%; clear:both;"></div>

        {{ with .apply }}<div class="applicants_track">{{ . | markdownify }}</div>{{ end }}
        {{ with .submit_1 }}<div class="applicants_track">{{ . | markdownify }}</div>{{ end }}
      </div>

      <div class="col-md-10">
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_simplified_color.png" alt="Logo_wide_color" width="100%" style= "margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_simplified_black.png" alt="Logo_wide_color" width="100%" style= "padding: 0px; margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="/images/logo_pic/logo_simplified_white.png" alt="Logo_wide_color" width="100%" style= "padding: 0px; margin-bottom: 0px; margin-top: 0px;"  class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!-- Service -->
{{ if .Params.service.enable }}
{{ partial "service.html" . }}
{{ end }}
<!-- /service -->

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
