{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="contact-form">
  <div class="container">
    {{ with site.Params.contact.form }}{{ if .enable }}
    <div class="row">

    </div>
    {{ end }}{{ end }}
    <div class="contact-box row">
      {{ with site.Params.contact }}
      <div class="col-md-4 col-sm-12">
        <div class="block">
          <h2>{{ i18n "address_title" }}</h2>
          <ul class="address-block">
            {{ if isset . "location" }}<li><i class="ion-ios-location-outline"></i>{{ if .address_descriptors }}{{ i18n "location" | printf "%s: " }}{{ end }}<div>{{ .location | markdownify }}</div></li>{{ end }}

            {{ if isset . "location_kor" }}<li><i class="ion-ios-location-outline"></i>{{ if .address_descriptors }}{{ i18n "location" | printf "%s: " }}{{ end }}<div>{{ .location_kor | markdownify }}</div></li>{{ end }}

            {{ if isset . "email" }}<li><i class="ion-ios-email-outline"></i>{{ if .address_descriptors }}{{ i18n "email" | printf "%s: " }}{{ end }}{{ .email | markdownify }}</li>{{ end }}

            {{ if isset . "phone" }}<li><i class="ion-ios-telephone-outline"></i>{{ if .address_descriptors }}{{ i18n "phone" | printf "%s: " }}{{ end }}{{ .phone }}</li>{{ end }}
          </ul>
          <ul class="social-icons">
            {{ range site.Params.social }}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ if site.Params.gmap.enable }}
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25362.642505453692!2d126.672618!3d37.38202!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b77170b609651%3A0xa8fd0c97d13a9b66!2sYonsei%20University%2C%20International%20Campus!5e0!3m2!1sen!2skr!4v1695905774483!5m2!1sen!2skr" width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="contact-box row">

      <div class="col-md-4 col-sm-12">
        <div class="block">
          <h2>Book an Appointment</h2>
          <ul class="address-block">
            <li><a href="https://calendar.app.google/CdAB6kkdpMgZT1Kx9">Book a 30min-Appointment</a></li>
            <li><a href="https://calendar.app.google/wc1cdPYWHQDM64jj9">Book a 60min-Appointment</a></li>
          </ul>
        </div>
      </div>

      {{ if site.Params.gmap.enable }}
      <div class="col-md-8 col-sm-12">
        <!-- Google Calendar Appointment Scheduling begin -->
        <iframe src="https://calendar.google.com/calendar/appointments/AcZssZ3QIZact4iGYxeTuC8j35X1jkYnG7W0o7ywM00=?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
        <!-- end Google Calendar Appointment Scheduling -->
      </div>
      {{ end }}
    </div>
    
  </div>
</section>

{{ end }}
