{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Professor -->
{{ with .Params.professor }}
{{ if .enable }}
<section class="about section">
  <div class="container">
    <div class="people-prof-title">Professor</div>
    <div class="row">
      <div class="col-md-4">
        <div class="image-cropper about-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div> 
      </div> 
      <div class="col-md-8">
        {{ with .name }}<div class="professor-name people-professor-name">{{ . | markdownify }}</div>{{ end }}
        {{ with .title }}<div class="professor-title">{{ . | markdownify }}</div>{{ end }}
        {{ with .emailAcademic }}<div class="professor-email">{{ . | markdownify }}</div>{{ end }}
        {{ with .emailGoogle }}<div class="professor-email">{{ . | markdownify }}</div>{{ end }}
        <div class="professor-websites">
          {{ with .personalSite }}<div class="professor-website"><a href="{{ . | safeURL }}">{{ . }}</a></div>{{ end }}
          {{ with .labSite }}<div class="professor-website"><a href="{{ . | safeURL }}">{{ . }}</a></div>{{ end }}
        </div>
        {{ with .content }}<div class="professor-context people-professor-context">{{ . | markdownify }}</div>{{ end }}
        {{ with .button }}
        {{ if .enable }}
        <a href="{{ .link | relURL }}" class="c-btn c-btn--secondary">{{ .label | markdownify }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <hr style=" width: 85%; height: 1px; background: #ddd; border: none; margin: 60px auto;">
</section>
{{ end }}
{{ end }}



<!-- Students -->
{{ with .Params.pricing }}
{{ if .enable }}
<section class="student-table section">
  <div class="container">
    <div class="people-title">Students</div>
    <div class="row"> 
      <!-- single pricing table --> 
      {{ range .student_table }} 
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item text-center">
          <div class="price-title">
            {{ with .image }}
              {{ if eq . "images/students/default.jpg" }}
                <div class="student-image-placeholder" aria-hidden="true"></div>
              {{ else }}
                <img src="{{ . | relURL }}" class="rounded" alt="">
              {{ end }}
            {{ end }}
            {{ with .name }}<div class="student-name">{{ . | markdownify }}</div>{{ end }}
            {{ with .type }}<div class="student-type">{{ . | markdownify }}</div>{{ end }}
            {{ with .email }}<div class="student-email">{{ . }}</div>{{ end }}
            {{ with .content }}<div class="student-des">{{ . | markdownify }}</div>{{ end }}
          </div>
        
          <!-- <a class="btn btn-small" href="{{ .link | safeURL }}">{{ i18n "buy_now" }}</a> -->
        </div>
      </div>
      {{ end }}
      <!-- end single pricing table -->
    </div>
  </div>
  <hr style=" width: 85%; height: 1px; background: #ddd; border: none; margin: 60px auto;">
</section>
{{ end }}
{{ end }}



<!-- ALUMNI -->
{{ with .Params.alumni }}
{{ if .enable }}
<section class="student-table section">
  <div class="container">
    <div class="people-title">Alumni</div>
    <div class="row">
      <!-- single pricing table -->
      {{ range .alumni_table }}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item text-center">
          <div class="price-title">
            {{ with .name }}<div class="student-name">{{ . | markdownify }}</div>{{ end }}
            {{ with .graduation_status }}<div class="student-type">{{ . | markdownify }}</div>{{ end }}
            {{ with .position }}<div class="student-type">{{ . | markdownify }}</div>{{ end }}
            {{ with .job }}<div class="student-type">{{ . | markdownify }}</div>{{ end }}
            {{ with .email }}<div class="student-email">{{ . | markdownify }}</div>{{ end }}
          </div>
        
          <!-- <a class="btn btn-small" href="{{ .link | safeURL }}">{{ i18n "buy_now" }}</a> -->
        </div>
      </div>
      {{ end }}
      <!-- end single pricing table -->
    </div>
  </div>
</section>
{{ end }}
{{ end }}




<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ with site.GetPage "/" }}
{{ with .Params.cta }}
<section class="about section-card call-to-action" id="people-join">
  <div class="container cta-custom">
    <canvas class="orb-canvas"></canvas>
    <div class="overlay faq-bg">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            {{ with .title }}<h2>{{ . | markdownify | replaceRE "<strong>" "<b>" | replaceRE "</strong>" "</b>" | safeHTML }}</h2>{{ end }}
            {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}

            {{ with .button }}{{ if .enable }}
            <a class="c-btn c-btn--secondary" href="{{ .link | relLangURL }}">{{ .label | markdownify }}</a>
            {{ end }}{{ end }}

            {{ with .button_joinUs }}{{ if .enable }}
            <a class="c-btn c-btn--primary" href="{{ .link | relLangURL }}">{{ .label | markdownify }}</a>
            {{ end }}{{ end }}

            {{ with .button_FAQ }}{{ if .enable }}
            <a class="c-btn c-btn--secondary" href="{{ .link | relLangURL }}">{{ .label | markdownify }}</a>
            {{ end }}{{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /Call to action -->

{{ end }}
