{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.overview.motto }}
<section class="vision-motto-section" id="vision-overview">
  <div class="container">
    <div class="vision-motto">{{ . | markdownify }}</div>
  </div>
</section>
{{ end }}

{{ with .Params.top_keywords }}
<section class="service-about vision-top-keywords-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{ with .eng }}
          {{ with .line1 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
          {{ with .line2 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
          {{ with .line3 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
        {{ else }}
          {{ with $.Params.top_keywords.line1 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
          {{ with $.Params.top_keywords.line2 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
          {{ with $.Params.top_keywords.line3 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
        {{ end }}
      </div>
      <div class="col-md-6">
        {{ with .kor }}
          {{ with .line1 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
          {{ with .line2 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
          {{ with .line3 }}<div class="vision-quote-key vision-quote-key-top">{{ . | markdownify }}</div>{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.overview }}
<section class="service-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{ with .vision_eng }}<div class="vision-quote">{{ . | markdownify }}</div>{{ end }}
        {{ with .keywords_eng }}<div class="vision-quote-key">{{ . | markdownify }}</div>{{ end }}
      </div>
      <div class="col-md-6">
        {{ with .vision_kor }}<div class="vision-quote-kor">{{ . | markdownify }}</div>{{ end }}
        {{ with .keywords_kor }}<div class="vision-quote-key">{{ . | markdownify }}</div>{{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
