<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">
  <!--- add elevator.js -->
  <script type="module" src="/js/bg-script.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Canvas -->
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <!-- Title -->
    {{ with .affiliation }}
    <div class="slider-affiliation">{{ . | markdownify }}</div>
    {{ end }} 
    {{ with .department }}
    <div class="slider-department">{{ . | markdownify }}</div>
    {{ end }} 
    {{ with .title }}
    <div class="slider-title">{{ . | markdownify }}</div>
    {{ end }} 
    <div class="slider-title-W500">Design</div>
    <div class="slider-title-W300">Lab</div>
    {{ with .content }}<div class="slider-vision">{{ . | markdownify  }}</div>{{ end }} {{ with .button }} {{ if .enable }}
    <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
{{ end }} {{ end }}
  </div>
</div>
<!-- partial -->

</body>
</html>



<!--
<script defer language="javascript" type="text/javascript"  src="{{ "assets/js/bg-script.js" | urlize | relURL }}"></script>
<script src="/js/bg-script.js"></script>
-->
