<section class="page-title bg-2{{ if and .IsSection (eq .Section "project") }} page-title-project{{ end }}{{ if eq .Layout "research" }} page-title-research{{ end }}">
  <!--style="background-image: url('{{ .Params.bg_image | relURL }}');"-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Title  | markdownify }}</h1>
          {{ with .Params.description }}
          <p>{{ . | markdownify }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
