{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }} {{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {{ with .title }}
                    <div class="slider-title">{{ . | markdownify }}</div>
                    {{ end }} {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }} {{ with .button }} {{ if .enable }}
                    <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }} {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /banner -->

<!-- about -->
{{ with .Params.about }} {{ if .enable }}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}
            <div class="home-title">{{ . | markdownify }}</div>
            {{ end }} {{ with .description }}{{ . | $.Page.RenderString (dict
            "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block")
          }}{{ end }} {{ with .button }} {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="home-slider-more"
            >{{ .label }}</a>
          {{ end }}{{ end }}
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img" />
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /about -->

<!-- News -->
<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                    <div class="home-title">Recent News</div>
                </div>
                </div>
            </div>
        </div>
        {{ range first 6 (where .Site.RegularPages "Section" "==" "blog") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
        <div class="col-md-4 portfolio-item portfolio-card shuffle-item">
            <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
            <div class="portfolio-list-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="portfolio-list-meta">{{ .Params.description }}</div>
        </div>
        {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
        <a href="{{ .link | relLangURL }}" class="home-slider-more"
          >{{ .label }}</a>{{ end }}{{ end }}
    </div>
</section>
{{ end }}
<!-- /news -->

<!-- portfolio -->
<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                    <div class="home-title">Our Works</div>
                </div>
                </div>
            </div>
        </div>
        {{ range first 6 (where .Site.RegularPages "Section" "==" "project") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
        <div class="col-md-4 portfolio-item portfolio-card shuffle-item">
            <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
            <div class="portfolio-list-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="portfolio-list-meta">{{ .Params.description }}</div>
        </div>
        {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
        <a href="{{ .link | relLangURL }}" class="home-slider-more"
          >{{ .label }}</a>{{ end }}{{ end }}
    </div>
</section>
{{ end }}
<!-- /portfolio -->





<!-- service -->
{{ if .Params.service.enable }} {{ partial "service.html" . }} {{ end }}
<!-- /service -->

<!-- call to action -->
{{ if .Params.cta.enable }} {{ partial "cta.html" . }} {{ end }}
<!-- /call to action -->



{{ end }}
