{{ define "main" }}



<!-- banner -->
{{ with .Params.banner }} {{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="block">

                    {{ partial "cardbg.html" .}}
          
                    <hr align="left" style="margin-bottom: 80px; width:100%; height:5px; border:none; background-color:black;">
                    
                    {{ with .affiliation }}
                    <div class="slider-affiliation">{{ . | markdownify }}</div>
                    {{ end }} 
                    {{ with .department }}
                    <div class="slider-department">{{ . | markdownify }}</div>
                    {{ end }} 
                    {{ with .title }}
                    <div class="slider-title">{{ . | markdownify }}</div>
                    {{ end }} 
                    <div class="slider-title-W500">Design</div>
                    <div class="slider-title-W300">Lab</div>
                    {{ with .content }}<div class="slider-vision">{{ . | markdownify  }}</div>{{ end }} {{ with .button }} {{ if .enable }}
                    <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }} {{ end }}
          
                    <hr align="left" style="margin-top: 100px; width:100%; height:5px; border:none; background-color:black;">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /banner -->


<!-- /about -->
{{ with .Params.about }} {{ if .enable }}
<section class="about section-card">
  <div class="container ">
      <!-- about -->
      <canvas class="orb-canvas"></canvas>
      <!-- Overlay -->
      <div class="overlay">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                {{ with .title }}
                <div class="home-title">{{ . | markdownify }}</div>
                {{ end }} {{ with .description }}{{ . | $.Page.RenderString (dict
                "display" "block") }}{{ end }}
              </div>
              {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block")
              }}{{ end }} {{ with .button }} {{ if .enable }}
              <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main">{{ .label | markdownify }}</a>
              {{ end }}{{ end }}
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="{{ .image | relURL }}" class="img-responsive" alt="Img" />
            </div>
          </div>
        </div>

        </div>
      </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /about -->





<!-- 
{{ with .Params.about }} {{ if .enable }}
<section class="about section white-box">
  <div class="container ">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}
            <div class="home-title">{{ . | markdownify }}</div>
            {{ end }} {{ with .description }}{{ . | $.Page.RenderString (dict
            "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block")
          }}{{ end }} {{ with .button }} {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main">{{ .label }}</a>
          {{ end }}{{ end }}
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img" />
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
-->


<!-- portfolio -->
{{ with .Params.portfolio }} {{ if .enable }}
<section class="about section white-box">
    <div class="container">
      <hr align="left" style="margin-top: 60px; margin-bottom: 70px; width:100%; height:2px; border:none; background-color:black;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="block">
                <div class="section-title">
                    <div class="home-title">RECENT PROJECTS</div>
                    <div class="home-title-sub1">{{ .content | markdownify }}</div>
                </div>
                </div>
            </div>
        </div>
        {{ end }}{{ end }} 
        {{ range first 6 (where .Site.RegularPages "Section" "==" "project") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
        <div class="col-md-4 work-card shuffle-item" data-groups="{{ $cats }}">
          <div class="col-md-12 portfolio-item portfolio-card shuffle-item">
            <!-- 이미지 삽입 -->
            <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
            <!-- 저널 네임 삽입 -->
            <button type="button" class="btn-journal-name-home">{{ .Params.conference }}</button>
            <!-- 타이틀 삽입 -->
            <div class="portfolio-list-title-home"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></div>
           <div class="portfolio-list-meta">{{ .Params.metacontent }}</div>
       </div>
        </div>
        
        {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
        <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main">{{ .label | markdownify }}</a>{{ end }}{{ end }}
    </div>
</section>
{{ end }}
<!-- /portfolio -->

<!-- NEWS
<section class="white-box about section">
  <div class="container">
    <hr align="left" style="margin-top: 10px; margin-bottom: 50px; width:100%; height:3px; border:none; background-color:black;">
      <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                  <div class="home-title">Recent News</div>
              </div>
              </div>
          </div>
      </div>
      {{ range first 6 (where .Site.RegularPages "Section" "==" "blog") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
      <div class="col-md-4 portfolio-item portfolio-card shuffle-item">
          <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
          <div class="news-list-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></div>
          <div class="portfolio-list-meta">{{ .Params.dateStr | markdownify }}</div>
      </div>
      {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
      <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main"
        >{{ .label | markdownify }}</a>{{ end }}{{ end }}
  </div>
</section>
{{ end }}
-->

<!-- News2 -->
<section class="white-box about section-last">
  <div class="container">
    <hr align="left" style="margin-top: 30px; margin-bottom: 80px; width:100%; height:2px; border:none; background-color:black;">
      <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                  <div class="home-title">RECENT NEWS</div>
              </div>
              </div>
          </div>
      </div>
      {{ range first 6 (where .Site.RegularPages "Section" "==" "blog") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
      <div class="col-md-12 portfolio-card shuffle-item">
        <div class="col-sm-2 news-textList-date ">{{ .Params.dateStr | markdownify }}</div>
        <div class="col-sm-1" style="text-align: right"><i class="{{ .Params.icon}}"></i></div>
        <div class="col-sm-8 news-textList-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></div>
      </div>
      {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
      <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main"
        >{{ .label | markdownify }}</a>{{ end }}{{ end }}

        <hr align="left" style="margin-top: 80px; margin-bottom: 0; width:100%; height:0px; border:none;background-color:black;">

  </div>
</section>
{{ end }}
<!-- /news2 -->



<!-- service -->
{{ if .Params.service.enable }} {{ partial "service.html" . }} {{ end }}
<!-- /service -->




<!-- call to action -->
{{ if .Params.cta.enable }}
<section class="about section-card">
  <div class="container cta-custom">
      <!-- about -->
      <canvas class="orb-canvas"></canvas>
      <!-- Overlay -->
      <div class="overlay">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Are you interested in joining our lab?</h2>
              <p>Read more about what we do and our philosophy of design. <br> Judge for yourself The work and results we've achieved for other clients, and meet our highly experienced Team who just love to design.</p>
              <a class="home-slider-more btn-main" href={{ absURL "/about/faq/" }}>→ Check Frequently Asked Questions</a>
            </div>
          </div>
        </div>

        </div>
      </div>
  </div>
</section>
{{ end }}
<!-- /call to action -->



{{ end }}