{{ define "main" }}

  


<!-- banner -->
{{ with .Params.banner }} {{ if .enable }}
<section class="slider {{ if .bg_overlay }}overly{{ end }}" style="background-image: url('{{ .bg_image | relURL }}');">
    <div class="container">
      <div class="ro ">
        <div class="circle-container" id="circle-container-1">
          <div id="circle1" class="circle"></div>
        </div>
        <div class="circle-container" id="circle-container-2">
          <div id="circle2" class="circle"></div>
        </div>
        <div id="particles-js"></div>
      </div>

        <div class="row">
            <div class="col-md-12">
                <div class="block">                  
                    {{ partial "cardbg.html" .}}
              
                    <div class="block">
                      <img src="{{ .yonseiLogo1 | relURL }}" class="img-responsive yonsei-logo"  alt="Img" style = "margin-bottom: 100px"/>
                    </div>

                    <!--
                    {{ with .affiliation }}
                    <div class="slider-affiliation">{{ . | markdownify }}</div>
                    {{ end }} 
                   
                    {{ with .department }}
                    <div class="slider-department">{{ . | markdownify }}</div>
                    {{ end }} 
                    -->

                    <img src="/images/logo/logo2_extended-main.png" alt="CXD Lab" width="90%" style= "margin-bottom: 100px;"  class="img-responsive">

                    {{ with .content1 }}<div class="slider-vision">{{ . | markdownify  }}</div>{{ end }} 
                    {{ with .content2 }}<div class="slider-vision">{{ . | markdownify  }}</div>{{ end }} 
                    {{ with .content3 }}<div class="slider-vision-content3">{{ . | markdownify  }}</div>{{ end }} 
                    {{ with .content4 }}<div class="slider-vision-content4">{{ . | markdownify  }}</div>{{ end }} 
                    {{ with .button }} {{ if .enable }}
                    <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }} {{ end }}
                    <!-- <hr align="left" style="margin-top: 100px; width:100%; height:5px; border:none; background-color:black;"> -->
                     
                </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /banner -->



<!-- /ABOUT OUR LAB -->
{{ with .Params.about }} {{ if .enable }}
<section class="about section-card">
  <div class="container ">
      <canvas class="orb-canvas"></canvas>
      <div class="overlay">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                {{ with .title }}
                <div class="home-title">{{ . | markdownify }}</div>
                {{ end }} {{ with .description }}<div class="lab-intro">{{ . | $.Page.RenderString (dict
                "display" "block") }}</div>{{ end }}
              </div>
              {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block")
              }}{{ end }} {{ with .button }} {{ if .enable }}
              <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main btn-learnMore">{{ .label | markdownify }}</a>
              {{ end }}{{ end }}
              {{ with .button2 }} {{ if .enable }}
              <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main btn-learnMore">{{ .label | markdownify }}</a>
              {{ end }}{{ end }}
              {{ with .button3 }} {{ if .enable }}
              <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main btn-learnMore">{{ .label | markdownify }}</a>
              {{ end }}{{ end }}
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="{{ .image | relURL }}" class="img-responsive" alt="Img" style = "margin-top: 50px" />
            </div>
          </div>
        </div>

        </div>
      </div>
  </div>
</section>
{{ end }} {{ end }}



<!-- ACTIVE ONGOING PROJECTS -->
{{ with .Params.ongoing }} {{ if .enable }}
<section class="about section white-box">
    <div class="container">
      <hr align="left" style="margin-top: 20px; margin-bottom: 30px; width:100%; border-style:dashed; background-color:black;">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="block">
              <div class="section-title">
                {{ with .title }}
                <div class="home-title-ongoing">{{ . | markdownify }}</div>
                {{ end }} {{ with .description }}<div class="ongoing-project">{{ . | $.Page.RenderString (dict
                "display" "block") }}</div>{{ end }}
              </div>
            </div>
          </div>
        </div>  
        {{ end }}{{ end }} 
     {{ with .Params.ongoing }}
    </div>
</section>
{{ end }}
<!-- /ACTIVE ONGOING PROJECTS-->


<!-- ABOUT OUR LAB PAGE -- 메인작성
{{ with .Params.about }} {{ if .enable }}
<section class="about section white-box">
  <div class="container ">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}
            <div class="home-title">{{ . | markdownify }}</div>
            {{ end }} {{ with .description }}{{ . | $.Page.RenderString (dict
            "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block")
          }}{{ end }} {{ with .button }} {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main">{{ .label }}</a>
          {{ end }}{{ end }}
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img" />
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
-->


<!-- RECENT PROJECTS -->
{{ with .Params.portfolio }} {{ if .enable }}
<section class="about section white-box">
    <div class="container">
      <hr align="left" style="margin-top: 10px; margin-bottom: 30px; width:100%; border-style:dashed; background-color:black;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="block">
                <div class="section-title">
                    <div class="home-title">PUBLISHED PROJECTS</div>
                    <div class="home-title-sub1">{{ .content | markdownify }}</div>
                </div>
                </div>
            </div>
        </div>
        {{ end }}{{ end }} 
        {{ range first 6 (where .Site.RegularPages "Section" "==" "project") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
        <div class="col-md-4 work-card shuffle-item" data-groups="{{ $cats }}">
          <div class="col-md-12 portfolio-item portfolio-card shuffle-item">
            <!-- 이미지 삽입 -->
            <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
            <!-- 저널 네임 삽입 -->
            <button type="button" class="btn-journal-name-home">{{ .Params.conference }}</button>
            <!-- 타이틀 삽입 -->
            <div class="portfolio-list-title-home"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></div>
           <div class="portfolio-list-meta">{{ .Params.metacontent }}</div>
       </div>
        </div>
        
        {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
        <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main">{{ .label | markdownify }}</a>{{ end }}{{ end }}
    </div>
</section>
{{ end }}
<!-- /RECENT PROJECTS -->

<!-- NEWS
<section class="white-box about section">
  <div class="container">
    <hr align="left" style="margin-top: 10px; margin-bottom: 50px; width:100%; height:3px; border:none; background-color:black;">
      <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                  <div class="home-title">Recent News</div>
              </div>
              </div>
          </div>
      </div>
      {{ range first 6 (where .Site.RegularPages "Section" "==" "blog") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
      <div class="col-md-4 portfolio-item portfolio-card shuffle-item">
          <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
          <div class="news-list-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></div>
          <div class="portfolio-list-meta">{{ .Params.dateStr | markdownify }}</div>
      </div>
      {{ end }}{{ with .Params.portfolio }}{{ with .content }}{{ end }} {{ with .button }} {{ if .enable }}
      <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main"
        >{{ .label | markdownify }}</a>{{ end }}{{ end }}
  </div>
</section>
{{ end }}
-->

<!-- News2 -->
<section class="white-box about section-last">
  <div class="container">
    <hr align="left" style="margin-top: 20px; margin-bottom: 30px; width:100%; border-style:dashed; background-color:black;">
      <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                  <div class="home-title">RECENT NEWS</div>
              </div>
              </div>
          </div>
      </div>
      {{ range first 6 (where .Site.RegularPages "Section" "==" "blog") }}{{ $cats := .Params.category -}} {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}} {{ $cats = apply $cats "urlize" "." | jsonify -}}
      <div class="col-md-12 portfolio-card shuffle-item">
        <div class="col-sm-2 news-textList-date ">{{ .Params.dateStr | markdownify }}</div>
        <div class="col-sm-1 news-icon" style="text-align: right"><i class="{{ .Params.icon}}"></i></div>
        <div class="col-sm-8 news-textList-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></div>
      </div>
      {{ end }}{{ with .Params.portfolio }}
      <a href="{{ .link | relLangURL }}" class="home-slider-more btn-main"
        >→ View All News & Essays</a>

        <hr align="left" style="margin-top: 80px; margin-bottom: 0; width:100%; height:0px; border:none;background-color:black;">

  </div>
</section>
{{ end }}
<!-- /news2 -->



<!-- service -->
{{ if .Params.service.enable }} {{ partial "service.html" . }} {{ end }}
<!-- /service -->




<!-- call to action -->
{{ if .Params.cta.enable }}
<section class="about section-card call-to-action">
  <div class="container cta-custom">
      <!-- about -->
      <canvas class="orb-canvas"></canvas>
      <!-- Overlay -->
      <div class="overlay faq-bg">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Are you interested in <b>joining</b> our lab?</h2>
              <p>Explore more about our research vision, key interests, frequently used methodologies, and application process. We welcome highly motivated students eager to innovate and shape the future through design and technology. :)</p>
              <a class="home-slider-more btn-main " href={{ absURL "/about/vision/" }}>→ Our Research Areas</a>
              <a class="home-slider-more btn-main " href={{ absURL "/about/approach/" }}>→ Research Methods</a>
              <a class="home-slider-more btn-main " href={{ absURL "/about/applicants/" }}>→ Join Us</a>
              <a class="home-slider-more btn-main " href={{ absURL "/about/faq/" }}>→ FAQ</a>
            </div>
          </div>
        </div>

        </div>
      </div>
  </div>
</section>
{{ end }}
<!-- /call to action -->



{{ end }}